<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.name}"></title>

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>

</head>
<body>
<section class="container">
    <div layout:fragment="content">
        <h1 class="text-center" th:text="*{project.name}"></h1>

        <form th:action="@{'/project/edit/' + ${id}}" th:object="${project}" method="get">
            <input type="hidden" th:field="*{id}"/>

            <div class="row">
                <div class="mb-3">
                    <div>
                        <label for="description" th:text="#{project.description}"></label>
                    </div>
                    <div>
                        <textarea id="description"
                                  type="text"
                                  th:field="*{description}"
                                  th:placeholder="#{project.description}"
                                  class="form-control"
                                  readonly="readonly">
                        </textarea>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="mb-3">
                    <div>
                        <label for="createdDate" th:text="#{project.createdDate}"></label>
                    </div>
                    <div>
                        <input id="createdDate"
                               type="text"
                               th:field="*{createdDate}"
                               class="form-control"
                               readonly="readonly"/>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <div>
                        <label for="createdBy" th:text="#{project.createdBy}"></label>
                    </div>
                    <div>
                        <input id="createdBy"
                               type="text"
                               th:field="*{createdBy}"
                               class="form-control"
                               readonly="readonly"/>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <div>
                        <label for="lastModifiedDate" th:text="#{project.lastModifiedDate}"></label>
                    </div>
                    <div>
                        <input id="lastModifiedDate"
                               type="text"
                               th:field="*{lastModifiedDate}"
                               class="form-control"
                               readonly="readonly"/>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <div>
                        <label for="LastModifiedBy" th:text="#{project.lastModifiedBy}"></label>
                    </div>
                    <div>
                        <input id="LastModifiedBy"
                               type="text"
                               th:field="*{lastModifiedBy}"
                               class="form-control"
                               readonly="readonly"/>

                    </div>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary" th:text="#{common.edit}"></button>

                <a th:href="@{/project/}" class="btn btn-secondary" th:text="#{common.return}"></a>

            </div>
        </form>
    </div>
</section>
</body>
</html>