<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{application.name}"></title>

    <link rel="shortcut icon" href="/images/favicon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>
etete
<section class="container">
    <h3 th:text="#{nav.issues}" class="pb-3"></h3>

    <div layout:fragment="content"
         th:each="issue : ${issues}">
        <span th:text="${issue.id}"></span>
        <span th:text="${issue.title}"></span>
    </div>

    <div>
        <a th:href="@{'/issue/create'}"
           th:text="Utwórz zgłoszenie"
           class="btn btn-primary"></a>
    </div>
</section>

</body>
</html>