<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{issue.title}"></title>

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

</head>

<body>
<section class="container">
    <div layout:fragment="content">
        <h1 class="text-center" th:text="*{issues.title}"></h1>

        <form th:action="@{'/issue/edit/' + ${id}}" th:object="${issues}" method="get">
            <input type="hidden" th:field="*{id}"/>

            <div class="row">
                <div class="col-7">
                    <div class="mb-3">
                        <div>
                            <label for="project" th:text="#{issue.project}"></label>
                        </div>
                        <div>
                            <input id="project"
                                   type="text"
                                   th:field="*{project.name}"
                                   th:placeholder="#{issue.project}"
                                   class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div>
                            <label for="content" th:text="#{issue.description}"></label>
                        </div>
                        <div>
                        <textarea id="content"
                                  type="text"
                                  th:field="*{content}"
                                  th:placeholder="#{issue.description}"
                                  class="form-control"
                                  readonly="readonly">
                        </textarea>

                        </div>
                    </div>

                    <div class="mb-3">
                        <div>
                            <label for="state" th:text="#{issue.state}"></label>
                        </div>
                        <div>
                            <input id="state"
                                   type="text"
                                   th:value="#{${'state.' + issues.state}}"
                                   th:placeholder="#{issue.state}"
                                   class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div>
                            <label for="type" th:text="#{issue.type}"></label>
                        </div>
                        <div>
                            <input id="type"
                                   type="text"
                                   th:value="#{${'type.' + issues.type}}"
                                   th:placeholder="#{issue.type}"
                                   class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div>
                            <label for="priority" th:text="#{issue.priority}"></label>
                        </div>
                        <div>
                            <input id="priority"
                                   th:value="#{${'priority.' + issues.priority}}"
                                   th:placeholder="#{issue.priority}"
                                   class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div>
                            <label for="assignee" th:text="#{issue.assignee}"></label>
                        </div>
                        <div>
                            <input id="assignee"
                                   type="text"
                                   th:field="*{assignee.name}"
                                   th:placeholder="#{issue.assignee}"
                                   class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>
                </div>


                <div class="col-5">
                    <div class="row">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{issue.attachment}"></th>
                                <th></th>

                            </tr>
                            </thead>

                            <tr th:each="issue : ${issues}">
                                <td th:text= "${issues.getFileDB() != null} ? ${issues.content} : 'brak wyników'"></td>
                                <td><a th:href="@{/file/download/11}">
                                    <span class="iconify" data-icon="bi:cloud-download" data-inline="false"></span>
                                </a>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <a th:href="@{'/file/add?issueId=' + ${id}}" class="btn btn-secondary" th:text="#{common.file}"></a>
                        </div>
                    </div>


                </div>
            </div>


            <div>
                <button type="submit" class="btn btn-primary" th:text="#{common.edit}"></button>
                <a th:href="@{/issue/}" class="btn btn-secondary" th:text="#{common.return}"></a>
            </div>
        </form>
    </div>
</section>
</body>
</html>